body {
  background-color: #2c313c;
  margin: 0;
  padding: 50px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.canvas {
  position: relative;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: repeat(12, 40px);
  gap: 20px 150px;
}

.node {
  background: white;
  color: black;
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  z-index: 10;
}
